
/* Card Section */
.card-section {
    border: #333;
    /* border-style: dashed; */
}

.cards-display {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap:20px;
    
}

.card {
    flex: 1; /* Ensures all cards take up equal width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc; /* Optional for styling */
    border-radius: 10px; /* Optional for rounded corners */
    padding: 10px; /* Optional for inner spacing */
    background-color: #f9f9f9; /* Optional for card background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

.card-image {
    max-width: 100%;
}
