<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APS GPLO</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="form-section-style.css">

</head>
<body>
    <form action="/submit-form" method="post" enctype="multipart/form-data">
        <fieldset class="gender-fieldset">
            <legend>Selecione seu gênero<span class="asterisk">*</span></legend>
            
            <label for="gender-male" class="r"></label>
            <span>Masculino</span>
            <input type="radio" id="gender-male" name="gender" value="male" required/>
            
            <label for="gender-female" class="r">
                <input type="radio" id="gender-female" name="gender" value="female" required/>
                <span>Feminino</span>
            </label>
            
            <label for="gender-other" class="r">
                <input type="radio" id="gender-other" name="gender" value="other" required/>
                <span>Outro</span>
            </label>
        </fieldset>


        <label for="name">Nome<span class="asterisk">*</span></label>
        <input type="text" id="name" name="name" pattern="/^[a-zÀ-ÿ ,.'-]+$/i" title="Name can only contain letters, spaces, hyphens, and apostrophes." required/>
        
        <label for="email">E-mail<span class="asterisk">*</span></label>
        <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}" required/>
        
        <div class="tel-fields">
            <div class="tel-field">
                <label for="tel">Telefone<span class="asterisk">*</span></label>
                <div class="field-margin"></div>
                <input type="tel" id="tel" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(XX) XXXX-XXXX" required/>
            </div>

            <div class="tel-field">
                <label for="tel">2º Telefone</label>
                <div class="field-margin"></div>
                <input type="tel" id="tel" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(XX) XXXX-XXXX"/>
            </div>
        </div>
        
        <div class="date-fields">
            <div class="date-field">
                <label for="dob">Nascido em<span class="asterisk">*</span></label>
                <div class="field-margin"></div>
                <input type="date" id="dob" min="<%= minDate %>" max="<%= curDate %>" required/>
            </div>
            
            <div class="date-field">
                <label for="yearOfConclusion">Conclui curso em<span class="asterisk">*</span></label>
                <div class="field-margin"></div>
                <input type="date" id="yearOfConclusion" min="<%= curDate %>" max="<%= maxDate %>" required/>
            </div>
        </div>
            
        <label for="college">Faculdade cursada<span class="asterisk">*</span></label>
        <input type="text" id="college" required/>
        
        
        <label class="resume" for="resume">Currículo (PDF)<span class="asterisk">*</span></label>
        <input type="file" id="resume" name="resume" accept=".pdf" required/>
        <button>Enviar</button>
    </form>
    <div class="background-overlay"></div>

</body>
</html>