<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APS GPLO</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="form-section-style.css">

</head>
<body>
    <form action="/submit-form" method="post" enctype="multipart/form-data">
        <fieldset class="occupation-fieldset">
            <!-- <legend>Selecione seu gênero<span class="asterisk">*</span></legend> -->

            <label for="developer">
                <input type="radio" id="developer" name="occupation-option" value="male" required/>
                <span>Desenvolvedor</span>
            </label>
            
            <label for="data-scientist">
                <input type="radio" id="data-scientist" name="occupation-option" value="female" required/>
                <span>Cientista de Dados</span>
            </label>
            
            <label for="production-engineer">
                <input type="radio" id="production-engineer" name="occupation-option" value="other" required/>
                <span>Engenheiro de Produção</span>
            </label>
            
            <label for="marketing">
                <input type="radio" id="marketing" name="occupation-option" value="other" required/>
                <span>Marketing</span>
            </label>
            
            <label for="apprentice">
                <input type="radio" id="apprentice" name="occupation-option" value="other" required/>
                <span>Aprendiz</span>
            </label>
        </fieldset>

        <div class="profile-field">
            <label for="name">Nome<span class="asterisk">*</span></label>
            <input type="text" id="name" name="name" pattern="/^[a-zÀ-ÿ ,.'-]+$/i" title="Name can only contain letters, spaces, hyphens, and apostrophes." required/>
            
            <label for="email">E-mail<span class="asterisk">*</span></label>
            <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}" required/>
            
            <div class="tel-fields">
                <div class="tel-field">
                    <label for="tel">Telefone<span class="asterisk">*</span></label>
                    <div class="field-margin"></div>
                    <input type="tel" id="tel" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(XX) XXXX-XXXX" required/>
                </div>
                
                <div class="tel-field">
                    <label for="tel">2º Telefone</label>
                    <div class="field-margin"></div>
                    <input type="tel" id="tel" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(XX) XXXX-XXXX"/>
                </div>
            </div>
            
            <div class="date-fields">
                <div class="date-field">
                    <label for="dob">Nascido em<span class="asterisk">*</span></label>
                    <div class="field-margin"></div>
                    <input type="date" id="dob" min="<%= minDate %>" max="<%= curDate %>" required/>
                </div>
                
                <div class="date-field">
                    <label for="yearOfConclusion">Conclui curso em<span class="asterisk">*</span></label>
                    <div class="field-margin"></div>
                    <input type="date" id="yearOfConclusion" min="<%= curDate %>" max="<%= maxDate %>" required/>
                </div>
            </div>
            
            <label for="college">Faculdade cursada<span class="asterisk">*</span></label>
            <input type="text" id="college" required/>
            
            
            <label class="resume" for="resume">Currículo (PDF)<span class="asterisk">*</span></label>
            <input type="file" id="resume" name="resume" accept=".pdf" required/>
            <button>Enviar</button>
        </div>
    </form>
    <div class="background-overlay"></div>

</body>
</html>