/* Hero Section */
.hero-section {
    background: url("./placeholderBackground.png") no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
    margin: 0 calc(-1*var(--margin-left-right));
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-content .hero-subtext {
    font-size: 1rem;
    line-height: 1.8;
}

.hero-subtext {
    margin: 0 auto;
    max-width: 700px;
}