/* Team Section */
/* .team-section {
} */

.team-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-display-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* width: 90%; */
    gap: 20px;
}

.team-member {
    border: 1px solid #ccc; /* Styling */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Inner spacing */
    background-color: #f9f9f9; /* Card background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.member-photo {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
}

.member-name {
    margin: 0 0;
}

.member-role {
    margin: 0 0;
}