footer {
    background-color: #ffffff;
    color: black;
    padding-top: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    padding: 30px 10% 0 10%;
    min-height: fit-content;
    align-items: stretch;
}

.footer-external-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.site-name {
    color: black;
    font-size: 1.5rem;
}

.footer-social-media {
    display: flex;
    gap: 30px;
}

.footer-social-media a {
    color: gray;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social-media a:hover {
    color: #003159;
}

.footer-columns {
    display: flex;
    gap: 0px;
    margin-bottom: 20px;
}

.topic-title {
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column li:last-of-type {
    margin-bottom: 0;
}